language: php

php:
- 7.1
- 7.2

before_script:
- cp .env.travis .env
- composer self-update
- composer install --no-interaction

script:
- php artisan key:generate
- vendor/bin/phpunit

cache:
    directories:
    - node_modules
    - vendor
